# 忽略所有的 .pyc 文件
*.pyc

# 忽略 __pycache__ 目录
__pycache__/
health_manage_9.26/front/__pycache__
health_manage_9.26/model/__pycache__
health_manage_9.26/sql_model/__pycache__
health_manage_9.26/state/__pycache__
health_manage_9.26/util/__pycache__

health_manage_9.26/tmp/
health_manage_9.26/.idea/

# 忽略 .idea 目录（如果您使用 PyCharm）
.idea/

# 其他常见的 Python 相关忽略项
*.pyo
*.pyd
*.pyc

# 虚拟环境（如果您使用虚拟环境）
venv/
env/
*.venv
*.env

# 临时文件
*.tmp

# 系统文件
.DS_Store
Thumbs.db